@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700,300italic);
*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #666;
}

.wrapper {
    max-width: 50%;
    margin: 1em auto;
}

p {
    margin: 0 0 1em 0;
    line-height: 1;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    font-style: italic;
}
p span {
    font-size: 4em;
    display: block;
    font-style: normal;
}

iframe {

}