/**
 * index.scss
 * - Add any styles you want here!
 */

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

body {
    background: #fbfbfb;
}

body.sidenav-open {
    overflow: hidden;
}

body.sidenav-open .sidenav {
    transform: translateX(0);
}

body.sidenav-open .sidenav-overlay {
    opacity: 1;
    visibility: visible;
}
