section.featured-content .title {
    color: #f400dd;
    font-weight: bold;
}

section.featured-content .featured-container {
    background: #2C3E50;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 1px 5px 7px 0px rgba(50, 50, 50, 0.64);
}

section.featured-content .featured-container .featured-wrapper {
    box-sizing: border-box;
}

