section.featured-content .title {
    color: #f400dd;
    font-weight: bold;
}

section.featured-content .featured-container {
    background: #072e51;
    padding-top: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 3px 7px -1px rgba(0,0,0,0.26);


}

section.featured-content .featured-container .featured-wrapper {
    box-sizing: border-box;
}

