doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        link(rel='stylesheet', href='../style/404.css')
        title 404
    body
        .wrapper
            p
                span 404
                | Uh oh. That page can not be found.
            p
                img(src='../assets/404.gif')
