doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        link(rel='stylesheet', href='../style/404.css')
        title Coming Soon
    body
        .wrapper
            p
                span Coming Soon
                | This feature is not yet implemented. For more information contact agoidel2019@mka.org
